
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


*{
  font-family: 'Quicksand', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;




.icon-color {
    @apply text-theme-1 w-6 h-6
}

.active{
    @apply font-bold tracking-wide text-theme-light transition-colors duration-200   border-b-2 
  }


  .my-container{
    @apply px-4 py-3 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 
  }

  .my-btn-1{
    @apply bg-theme-1 lg:px-5 border-none hover:bg-theme-6-400 text-neutral-50 ;
  }


.my-card-1{
  @apply rounded-md flex flex-col justify-center items-center p-5 
          shadow-lg shadow-neutral-900/50 transition-all duration-500  hover:bg-theme-3-200 cursor-pointer

}




.bg-img-2{
   background-image: url(https://i.postimg.cc/X7Ssghfb/cool-background.png); 
   object-fit: cover;
   background-repeat: no-repeat;
}


.bg-img-3{

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1980' height='600' preserveAspectRatio='none' viewBox='0 0 1980 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)' fill='none'%3e%3crect width='1980' height='600' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1019%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1980 0L1950.82 0L1980 79.94z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1950.82 0L1980 79.94L1980 293.03L1753.1599999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1753.16 0L1980 293.03L1980 431.27L676.9000000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M676.9000000000001 0L1980 431.27L1980 503.83L404.1300000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 600L620.13 600L0 467.63z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 467.63L620.13 600L1088.56 600L0 393.53z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 393.53L1088.56 600L1450.07 600L0 258.96z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 258.96000000000004L1450.07 600L1820.33 600L0 217.62000000000003z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1018'%3e%3crect width='1980' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='17.42%25' y1='-57.5%25' x2='82.58%25' y2='157.5%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1019'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(21%2c 152%2c 149%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    object-fit: cover;
   background-repeat: no-repeat;
}


.bg-img-4{

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1980' height='800' preserveAspectRatio='none' viewBox='0 0 1980 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1093%26quot%3b)' fill='none'%3e%3crect width='1980' height='800' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1094%26quot%3b)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1095' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1095' x='0' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1095' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1095' x='720' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1095' x='1440' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1095' x='1440' y='720'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1093'%3e%3crect width='1980' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='14.9%25' y1='-36.87%25' x2='85.1%25' y2='136.88%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1094'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(87%2c 197%2c 182%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1095'%3e%3c/symbol%3e%3c/svg%3e");
  object-fit: cover;
   background-repeat: no-repeat;
}
















  
  